<!doctype html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stubs Managment</title>
    <link rel="stylesheet" href="/css/foundation.css">
        <!-- <link rel="stylesheet" href="/css/foundation-icons/foundation-icons.css" /> -->
    <link rel="stylesheet" href="/css/app.css">
 <script src="/js/vendor/jquery.js"></script>
  </head>
  <body>
    <div class="grid-container">


      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h1>Welcome to Stubs Managment</h1>
        </div>
      </div>
  <p> <a href="/system/" class="button"><< Home</a> 

 <h5>Run Stubs:</h5>

 <hr />

  
          <div class="grid-x grid-padding-x">
<div class="large-12 medium-12 cell">
<div class="primary callout">
<h5>Trying to Impliment Stubs on Host:<b>localhost:2525</b></h5>  
<div id="outputResult" ><img src='/css/foundation-icons/loading5.gif' style=" margin: 10%; margin-left:30%;" /></div>

   
        </div>


      
      </div>







    </div>












    <script>
function run(){
  $.ajax({
    type: "GET",
    url: "/getData/<%= href %>",
    contentType: "application/json; charset=utf-8",
    dataType: "json",
      complete: function(xhr, textStatus) {
 if( xhr.status==200){
 jsonImposterData=JSON.parse(xhr.responseText);
console.log(jsonImposterData);
   <% if (single) { %>  createIfNotExist("outputResult"); <% }%>
  <% if (!single) { %>  deleteAndCreateBulkImposter("outputResult"); <%}%>

}
    }
});


}
var jsonImposterData;
run();


function createBulkImposters(divoutputResult){
  $.ajax({
    type: "PUT",
    url: "http://localhost:2525/imposters",
    data: JSON.stringify(jsonImposterData),
    contentType: "application/json; charset=utf-8",
    dataType: "json",
      complete: function(xhr, textStatus) {
 $("#"+divoutputResult+"").html(""); 
var Div;

if(textStatus=="error" && xhr.status==0){
Div= $("<div>",{"class":"alert callout"}).html("<b>Error: </b>" );
Div.append("<br/>Mount Bank Server Currently not Running. Please Restart the Server and try Again.  ");
}
else if( typeof xhr.responseText !== 'undefined'){

var data= JSON.parse(xhr.responseText);
if(typeof data.errors !== 'undefined') {  
Div = $("<div>",{"class":"alert callout"}).html("<b>Error: </b>" );
$(data.errors).each(function(){
Div.append("<br/>"+this.code+" <b>"+this.message+"</b> ");
});
}
else if(typeof data.imposters !== 'undefined'){
Div = $("<div>",{"class":"success callout"}).html("<b>Success: </b>" );
var html="<p>Following Imposters has Successfuly Implemeted: </p><p>";
$(data.imposters).each(function(){
html+="<b><a href='/testStub/"+this.port+"'>"+this._links.self.href+"</a></b><br/>";
});
html+="<br/>";
Div.append(html);
}
}else{
Div = $("<div>",{"class":"alert callout"}).html("<b>Error: Unknown Error</b>" );
}

$("#"+divoutputResult+"").html(Div);

    }
});
}


function createImposter(divoutputResult){
  $.ajax({
    type: "POST",
    url: "http://localhost:2525/imposters",
    data: JSON.stringify(jsonImposterData),
    contentType: "application/json; charset=utf-8",
    dataType: "json",
      complete: function(xhr, textStatus) {
 $("#"+divoutputResult+"").html(""); 
var Div;

if(textStatus=="error" && xhr.status==0){
Div= $("<div>",{"class":"alert callout"}).html("<b>Error: </b>" );
Div.append("<br/>Mount Bank Server Currently not Running. Please Restart the Server and try Again.  ");
}
else if( typeof xhr.responseText !== 'undefined'){

var data= JSON.parse(xhr.responseText);

if(typeof data.errors !== 'undefined') {  
Div = $("<div>",{"class":"alert callout"}).html("<b>Error: </b>" );
$(data.errors).each(function(){
Div.append("<br/>"+this.code+" <b>"+this.message+"</b> ");
});
}
else if(typeof data.stubs !== 'undefined'){
Div = $("<div>",{"class":"success callout"}).html("<b>Success: </b>" );
var html="<p>the <b>"+data.name+"</b> Stub is Implemetd ON Port:<a target='_blank' href='/testStub/"+data.port+"'>"+data.port+"</a></p>";
html+="<br/>";
Div.append(html);
}
}else{
Div = $("<div>",{"class":"alert callout"}).html("<b>Error: Unknown Error</b>" );
}

$("#"+divoutputResult+"").html(Div);

    }
});
}



function deleteAndCreateBulkImposter(divoutputResult){
  $.ajax({
    type: "DELETE",
    url: "http://localhost:2525/imposters/",
    // data: JSON.stringify(jsonImposterData),
    contentType: "application/json; charset=utf-8",
    dataType: "json",
      complete: function(xhr, textStatus) {
 $("#"+divoutputResult+"").html(""); 
var Div;

if(textStatus=="error" && xhr.status==0){
Div= $("<div>",{"class":"alert callout"}).html("<b>Error: </b>" );
Div.append("<br/>Mount Bank Server Currently not Running. Please Restart the Server and try Again.  ");
}
else if( typeof xhr.responseText !== 'undefined' && xhr.status==200){
  var data= JSON.parse(xhr.responseText);
  console.log(data.imposters);
if(data.imposters){

  createBulkImposters("outputResult");
}else{
  Div = $("<div>",{"class":"alert callout"}).html("<b>Error: Cant Delete the Imposters</b>" );
}
}else{
Div = $("<div>",{"class":"alert callout"}).html("<b>Error: Unknown Error</b>" );
}

$("#"+divoutputResult+"").html(Div);

    }
});
}


function deleteAndCreateImposter(divoutputResult){
  $.ajax({
    type: "DELETE",
    url: "http://localhost:2525/imposters/"+jsonImposterData.port,
    // data: JSON.stringify(jsonImposterData),
    contentType: "application/json; charset=utf-8",
    dataType: "json",
      complete: function(xhr, textStatus) {
 $("#"+divoutputResult+"").html(""); 
var Div;

if(textStatus=="error" && xhr.status==0){
Div= $("<div>",{"class":"alert callout"}).html("<b>Error: </b>" );
Div.append("<br/>Mount Bank Server Currently not Running. Please Restart the Server and try Again.  ");
}
else if( typeof xhr.responseText !== 'undefined'){
  var data= JSON.parse(xhr.responseText);
if(data.port==jsonImposterData.port){

  createImposter("outputResult");
}else{
  Div = $("<div>",{"class":"alert callout"}).html("<b>Error: Cant Delete the Imposter</b>" );
}
}else{
Div = $("<div>",{"class":"alert callout"}).html("<b>Error: Unknown Error</b>" );
}

$("#"+divoutputResult+"").html(Div);

    }
});
}
function createIfNotExist(divoutputResult){
  $.ajax({
    type: "GET",
    url: "http://localhost:2525/imposters/"+jsonImposterData.port,
    // data: JSON.stringify(jsonImposterData),
    contentType: "application/json; charset=utf-8",
    dataType: "json",
      complete: function(xhr, textStatus) {
 $("#"+divoutputResult+"").html(""); 
var Div;
if(textStatus=="error" && xhr.status==0){
Div= $("<div>",{"class":"alert callout"}).html("<b>Error: </b>" );
Div.append("<br/>Mount Bank Server Currently not Running. Please Restart the Server and try Again.  ");
$("#"+divoutputResult+"").html(Div);
}
else if( xhr.status==200){
deleteAndCreateImposter("outputResult");
}else{
createImposter("outputResult");
}



    }
});
}

</script>
<%- include('partial/footer') %>

